PROJECT_ID=2
SUITE_ID=6
LOG_LEVEL=info
TESTRAIL_BASE_URL=
TESTRAIL_USER=
TESTRAIL_API_KEY=
DEBUG_LOCAL_FEATURES=true

OPENAI_API_KEY=
CHROMA_PATH=./chroma_db
HEADLESS=false

AMAZON_EMAIL=
AMAZON_PASSWORD=
